{% include 'profile_status/profile/home.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'profile/css/home2.css' %}">
   
</head>
<body>
    <div id="main-container">
        {% csrf_token %}
        <div id="main-container2"> <button> <a href="{% url 'Home' %}">Exit</a></button></div>

        <div class="heading">
            <h1 class="heading__title">Skills/Experiences :</h1>
            <p class="heading__credits"><a class="heading__link" target="_blank" href="https://dribbble.com/sl"></a></p>
          </div>
          <div class="cards">
            <div class="card card-1">
              <div class="card__icon"><i class="fas fa-bolt"></i></div>
              <p class="card__exit"><i class="fas fa-times"></i></p>
              <h2 class="card__title">frontend developer with intermidiate knowledge with potential to develop advance.</h2>
              
            </div>
            <div class="card card-2">
              <div class="card__icon"><i class="fas fa-bolt"></i></div>
              <p class="card__exit"><i class="fas fa-times"></i></p>
              <h2 class="card__title">2 years experienced with data entries and worked for cloudfactory.</h2>
             
            </div>
            <div class="card card-3">
              <div class="card__icon"><i class="fas fa-bolt"></i></div>
              <p class="card__exit"><i class="fas fa-times"></i></p>
              <h2 class="card__title">I have excess knowledge of image annotation and video editing'.</h2>
             
            </div>
            <div class="card card-4">
              <div class="card__icon"><i class="fas fa-bolt"></i></div>
              <p class="card__exit"><i class="fas fa-times"></i></p>
              <h2 class="card__title">I had diploma in python language  at deerwalk and my project mostly base on django. </h2>
            
            </div>
            <div class="card card-5">
              <div class="card__icon"><i class="fas fa-bolt"></i></div>
              <p class="card__exit"><i class="fas fa-times"></i></p>
              <h2 class="card__title">ability to demostrate powerpoint projects and can access to microsoft word.</h2>
             
            </div>
            <div class="card card-1">
              <div class="card__icon"><i class="fas fa-bolt"></i></div>
              <p class="card__exit"><i class="fas fa-times"></i></p>
              <h2 class="card__title">best networking ability to gain iformation for excess base project from any sources.</h2>
            
            </div>
            
          </div>
        
        
       
      </div>
    
</body>
</html>
{% endblock content%}